# Elastalert Docker EnvVars
SET_CONTAINER_TIMEZONE=true
CONTAINER_TIMEZONE=America/New_York

ELASTICSEARCH_HOST=elasticsearch
ELASTICSEARCH_PORT=9200

#ELASTICSEARCH_USER=user
#ELASTICSEARCH_PASSWORD=password
